<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.email %></h1>
    <p>
      To change your password, click this link: <%= link_to("Change password", @url, method: :get) %>.
    </p>
  </body>
</html>