<form action="<%= users_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" value="" id="user_email">
  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" value="" id="user_password">

  <br />
  <input type="submit" value="Sign Up">

</form>
<br>

<form action="<%= reset_users_url %>" method="get">

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" value="" id="user_email">

  <br />
  <input type="submit" value="Reset Password">

</form>