<h3>Add members to <%= @circle.name %></h3>

<form action="<%= friend_circ_friend_circle_memberships_url(@circle) %>" method="post" >

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
<input type="hidden" name="friend_circle_membership[user_id][]" value="">
<% @users.each do |user| %>
<input type="checkbox" name="friend_circle_membership[user_id][]" id="friend_circle_membership#{user.id}" value=<%= user.id %> >
<label for="friend_circle_membership#{user.id}"><%= user.email%></label>
<br>

<% end %>

<input type="submit" value="Add Members">
</form>