<h2>Create New Post</h2>
<form action="<%= user_posts_url(@user) %>" method="post">
  
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

  <label for="post[body]">Body:</label>
  <input type="text" name="post[body]" value="" id="post_body">
  <br>
  <br>
  
  <h4>Post To:</h4>
  <% @user.circles.each do |circle| %>
  <label for="post_friend_circ_id"><%= circle.name %></label>
  <input type="checkbox" name="post[friend_circ_id][]" value=<%= circle.id %> id=<%= "post_circle_#{circle.id}" %>>
  <br>
  <% end %>
  <br>
  
  <input type="hidden" name="link[1][url]" value="">
  <input type="hidden" name="link[2][url]" value="">
  <input type="hidden" name="link[3][url]" value="">
  <label for="link_url_1">URL:</label>
  <input type="text" name="link[1][url]" id="link_url_1">
  <!-- <input type="text" name="link[url][]" id="link_url_1"> -->
  <br>
  
  <label for="link_url_2">URL:</label>
  <input type="text" name="link[2][url]" id="link_url_2">
  <!-- <input type="text" name="link[url][]" id="link_url_2"> -->
  <br>
  
  <label for="link_url_3">URL:</label>
  <input type="text" name="link[3][url]" id="link_url_3">
  <!-- <input type="text" name="link[url][]" id="link_url_3"> -->
  <br>
  <br>
  
  <input type="submit" value="Create Post">

</form>
