<!-- <%= link_to("Return to index", )%> -->

<ul>
  <li>Circle ID   Name</li>
  <% @user.circles.each do |circle| %>
  <li><%= circle.id %>&nbsp;&nbsp;&nbsp;<%= link_to("#{circle.name}", friend_circ_url(circle), method: :get) %></li>
  <% end %>
</ul>

<%= button_to("Create Friend Circle", new_user_friend_circ_url, method: :get) %>
<br>
<%= button_to("Create Post", new_user_post_url(@user), method: :get) %>