<form action="<%= user_friend_circs_url(@user) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

  <label for="friend_circ_name">Name:</label>
  <input type="text" name="friend_circ[name]" value="" id="friend_circ_name">

  <input type="submit" value="Create Friend Circ">

</form>
