<h3><%= @friend_circ.name %></h3>
<ul>
  <% @friend_circ.members.each do |member| %>
  <li><%= member.email %></li>
  <% end %>
</ul>
<br>

<%= button_to("Add members", new_friend_circ_friend_circle_membership_url(@friend_circ), method: :get) %>




