<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
  <%= current_user.email %>
  <%= button_to("Sign Out", session_url, method: :delete) %>
  <% else %>
  <%= button_to("Sign In", new_session_url, method: :get) %>
  <% end %>

<%= yield %>

</body>
</html>
